@media screen and (min-width: 500px ) {
  /*eat section media queries*/
  .img1 {
    margin-left: 10px;
  }
  h4 {
    margin-left: 30px;
  }
  .icon-big {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #3333ff;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-left: 15px;
  }

  .img2 {
    margin-left: 35px;
    margin-top: -10px;
  }
  .img3 {
    margin-left: 70px;
    margin-top: -10px;
  }
  .img4 {
    width: 100%;
    margin-left: 80px;
    display: none;
  }
  .kayal {
    display: none;
  }
  .fam {
    display: none;
  }
  .star {
    display: none;
  }
  .icon-big1 {
    display: none;
  }
  .website {
    display: none;
  }
  /*activities section media queries*/
   h6 {
     text-align: center;
     margin-right: 110px;

     font-size: 200%;
     word-spacing: 2px;
     text-align: center;
   }

  /*footer media queries*/
  .social-link {
    list-style: none;
    float: right;
    font-size: 100%;
    margin-right:-350px;
    margin-top: -50px;
    width: 100%0
  }
}

@media screen and (min-width: 1200px ) {
  .social-link {
    list-style: none;
    float: right;
    font-size: 100%;
    margin-right:-900px;
    margin-bottom: 100px;
    width: 100%0
  }
  .img1 {
    margin-left: 10px;
  }
  .img2 {
    margin-left: 45px;
    margin-top: -10px;
  }
  .img3 {
    margin-left: 45px;
    margin-top: -10px;
  }
  h4 {
    margin-left: 30px;
  }
  h6 {
    text-align: center;
    margin-right: 209px;
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
  }
  .comments {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img/cimage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: white;
  }
  h6 {
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-right: 105px;
  }
  h6:after {
    display: block;
    height: 2px;
    background-color: #2980b9;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top:10px;
  }
  header {

  /*background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img/fountain.jpg);/* gradient has allowed a lighter background for clear text*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
}
