
@media only screen and (min-width: 500px) {
  header {
    width: 100%;
  }
  .visit-text {
    line-height: 95%;
    width: 100%;
  }

  .box p {
    font-size: 90%;
    line-height: 95%;
    width: 100%;
  }
  .welcome-text-box {
    position: absolute;
    color: blue;
    width: 1140px;
    top: 45%;
    left: 30%;
    transform: translate(-25%, -25%);
    width: 100%;
  }

}

@media only screen and (min-width: 1200px) {
  .box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}
