* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Lato', 'sans-serif';
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1000px;
  margin: 0 auto;
}
