* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Lato', 'sans-serif';
  overflow-x: hidden;/*this stops the scrolling*/
}


main {
  display: block;
  height: 1000px;
  overflow-y:hidden;
  scroll-behavior:smooth;
}

#canvas {
    opacity: 1;
    height: 220px;
    margin-left:-150px;
    margin-top: -330px;
    float: left;

}

.box {
  border-radius:5px;
  display:inline-block;
  margin:6em 0 2em;
  padding:0 20px 20px;
  float: left;
  margin-left: 50px;
  margin-top: -310px;

}

.date #daymonth {
  color:#A10691  ;
  font-size:2.5em;
  padding:10px 0;
}
.date #year {
  color:#A10691  ;
  font-size:2.5em;
}






/*.logo {
  width: 100%;
  height: auto;
  float: left;
}*/



/*Reuse*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/*section {
  padding: 10px 0;
}*/

.box {
  padding: 1%;
}
/*Reuse*/
.top {
  display: block;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
  margin-bottom: 20px;
}
.top:hover {
  background: rgba(200,200,200,0.96);
  color: #fff;
}
/*Headings*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;

}



h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 200%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #2980b9;
  content: " ";
  width: 300px;
  margin: 0 auto;
  margin-top:10px;
}

h3 {
  font-size: 100%;
  margin-bottom: 15px;
}
/*Headings*/

/*Paragraph text */
.visit-text {
  line-height: 95%;
  width: 100%;
}

.box p {
  font-size: 90%;
  line-height: 95%;
}
/*Paragraph text */

/*Icons*/
.icon-color {
  font-size: 400%;
  display: block;
  color: #3333ff;
  margin-bottom: 10px;
}

.nav-icon {
  font-size: 400%;
  display: block;
  color: #3333ff;
  margin-bottom: 10px;
}


/*Header*/
header {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img/fountain.jpg);/* gradient has allowed a darker background for clear text*/
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.welcome-text-box {
  position: absolute;
  color: blue;
  width: 1140px;
  top: 45%;
  left: 30%;
  transform: translate(-25%, -25%);
}
/*Header*/



/* button css*/
.btn:link,/*each button will look the same once clicked and visited*/
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  font-weight: bold;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;

   border: none;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
}

.btn:hover,
.btn:active,
input[type=submit] {
  color: #2980b9;

}

.btn-first:link,
.btn-first:visited,
input[type=submit] {
  background-color: #9932CC;
  border: 1px solid #fff;
  margin-right: 15px;

}

.btn-second:link,
.btn-second:visited {
  border: 1px solid #fff;
  background-color: #9932CC;
}
/*end of button css*/

/* nav bar*/
.navbar {
  float: right;
  list-style: none;
  margin-top: 50px;
  margin-right: 60px;
  font-weight: bold;
}

.top {
  display: block;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
}
.top:hover {
  background: rgba(200,200,200,0.96);
  color: #fff;
}

/*mobile nav*/
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;

}

/*sticky*/




.navbar li {
  display: inline-block;
  margin-left: 35px;
}

.navbar li a:link,
.navbar li a:visited {

  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
  border-bottom: 2px solid #2ecc71;
}
/*nav bar*/

.visit-leicester {
  background-color: #e0e0d1;
}


/*Gallery*/
.leicester-gallery {
  list-style: none;
  width: 100%;
}

.leicester-gallery li {
  display: block;
  float: left;
  width: 25%;
}

.leicester-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.leicester-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.leicester-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}


/*end of gallery section*/


/*History section*/
.history-section {
  background-color:#e0e0d1;
}


.history-box first-child {
  text-align: right;
  padding-right: 50%;
  margin-top: 30px;
}

.history-box last-child {
  padding-left: 2%;
  margin-top: 70px;
}

.history-pic {
  width: 80%;
}


.history-title  {
  margin-bottom: 50px;

}

.history-title section {
  color: #3333ff;
  border: 2px solid #3333ff;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

/* Eat Section */

.section-eat {
  background-image:url('images/eat.jpg');
}



.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.eat-feature {
  margin-bottom: 5px;
}

.icon-big {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #3333ff;
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin-right: 10px;
}

a:link,
a:active {
  color: #3333ff;
  text-decoration: none;
  border-bottom: 1px solid #3333ff;
  padding-bottom: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #f44268;
  border-bottom: 1px solid transparent;
}
/*eat section*/

/*comment section*/
.comments {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/comment-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  margin-top: 40px;
  position: relative;
}

cite {
  font-size: 90%;
  margin-top: 10px;
  display: block;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
/*end of comment section*/

/*Activities section*/
.activities {
  background-color:#f4f4f4;

}

.plan-box {
  background-color: #fcfcfc;
  border-radius: 5px;
  width: 90%;
  margin-left: 23%;
  box-shadow: 0 2px 2px #e3e3e3;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #3333ff;
}

.price span {
  font-size: 30%;
  font-weight: 300;
  color: #3333ff;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  list-style: none;
  padding: 5px 0;
}
/*end of activites section*/


/*map and form section*/
.map-form {
  width: 90%;
  margin: 0 auto;
}

input[type=text],
select[type=email],
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #3333ff;
}

textarea {
  height: 100px;
}

input [type=checkbox] {
  margin: 10px 5px 10px 0;
}

#map {
  height: 500px;
  width: 100%;
  z-index: 0;
  position: relative;
}

.map-box {
  width: 100%;
  height: 500px;
  position: relative;

}

.form-box {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  height: 500px;
  padding: 40px;
}
/* end of map and form section*/

/*footer section*/
footer {
  background-color: #333;
  height: 150px;
  padding: 30px;
}

.footer-nav {
  list-style: none;
  float: left;
  font-size: 100%;
}

.social-link {
  list-style: none;
  float: right;
  font-size: 100%;
  margin-right:-95%;
  margin-top: -8%;

}

.footer-nav li,
.social-link li {
  display: inline-block;
  margin-right: 25px;
}

.footer-nav li:last-child,
.social-link li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link,
.social-link li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.ion-social-snapchat {
  color: #fffc00;
}

.ion-social-twitter {
  color: #55acee;
}

.ion-social-facebook {
  color: #3b5998;
}

.ion-social-instagram {
  color:  #e95950;
}


.social-link li a:link,
.social-link li a:visited {
  font-size: 200%;
}
